# Build and Output
**/.next/
**/.output/
**/build/
**/dist/
**/out/

# Cache and Logs
**/.cache/
**/.npm/
**/logs/
**/temp/
**/tmp/
*.log
.eslintcache
.node_repl_history
.stylelintcache
.tsbuildinfo

# Dependencies
**/node_modules/
.pnp
.pnp.js
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Docker related
**/.docker/

# Documentation and Assets
**/helm-charts/
CHANGELOG.md
LICENSE
Makefile
README.md

# IDE and Config
**/.idea/
**/.vscode/
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.swp
*.swo

# Local env files
.env*
!.env.example

# OS specific
$RECYCLE.BIN/
.DS_Store
desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.pem

# Runtime data
**/pids/
*.pid
*.pid.lock
*.seed

# Testing and Coverage
**/.nyc_output/
**/__tests__/
**/coverage/
**/test/
**/tests/
*.spec.*
*.test.*
coverage*

# Turbo
**/.turbo/

# Vercel
**/.vercel/

# Version Control
**/.git/
**/.github/
.gitattributes
.gitignore
