# Build Outputs
**/dist/

# Cache and Logs
**/.cache/
**/.npm/
**/logs/
**/temp/
**/tmp/
.tsbuildinfo

# Dependencies
**/node_modules/

# IDE and Config
**/.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Local env files
.env*
!.env.example

# OS specific
$RECYCLE.BIN/
.DS_Store
desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.pem

# Turbo
**/.turbo/
