# Build Outputs
**/.next/
**/.output/
**/build/
**/dist/
**/out/

# Cache and Logs
**/.cache/
**/.npm/
**/logs/
**/temp/
**/tmp/
.eslintcache
.node_repl_history
.stylelintcache
.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
**/node_modules/
.pnp
.pnp.js
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Docker related
**/.docker/
.docker-compose.*.yml
.dockerignore

# IDE and Config
**/.idea/
*.njsproj
*.ntvs*
*.sln
*.suo
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local env files
.env*
!.env.example

# OS specific
$RECYCLE.BIN/
.DS_Store
Desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.pem

# Runtime data
**/pids/
*.pid
*.pid.lock
*.seed

# svelte
**/.svelte-kit/

# Testing and Coverage
**/.nyc_output/
**/coverage/

# Turbo
**/.turbo/

# Vercel
**/.vercel/
